@page "/"

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1 class="title" style="font-family: Garamond">Title</h1>
<p class="subtitle">Subtitle...</p>

<h1 class="title">Test API</h1>

<button class="button is-primary" onclick="@(async () => await TestWebApi())">Sen request</button>
<p>@_responseString</p>

<h1 class="title">Samples of buttons</h1>
<button class="button is-primary">Button</button>
<button class="button is-link">Button</button>
<button class="button is-info">Button</button>
<button class="button is-success">Button</button>
<button class="button is-warning">Button</button>
<button class="button is-danger">Button</button>



@code
{
    private string _responseString = string.Empty;

    private async Task TestWebApi()
    {
        try
        {
            HttpResponseMessage response = await Http.GetAsync("api/Account/GetHello");
            _responseString = await response.Content.ReadAsStringAsync();
        }
        catch(Exception ex)
        {
            _responseString = ex.Message;
        }
    }
}