.progress-container {
    position: relative;
    height: var(--bulma-size-normal);
}

.progress {
    position: absolute;
}

.spent-progress::-webkit-progress-bar {
    background-color: transparent;
}

.spent-progress::-moz-progress-bar {
    background-color: transparent;
}

.spent-progress::-ms-fill {
    background-color: transparent;
}
