@using System.Globalization
@inject IJSRuntime JSRuntime

<p>@Localization["Common_Language"]</p>
<Dropdown Items="cultures" @bind-Selected="Culture" DisplayPropertyDelegate="x => x.NativeName"/>

@code {
    List<CultureInfo> cultures = [new CultureInfo("en-US"), new CultureInfo("ru-RU")];

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value && CultureInfo.CurrentCulture.Name != value.Name)
            {
                IJSInProcessRuntime js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);
                Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
            }
        }
    }
}
