@implements IDisposable

<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content ml-auto mr-0">
        <div class="container">
            @foreach (string error in Errors)
            {
                <div class="notification is-danger">@error</div>
            }

            @if (Errors?.Count > 0)
            {
                <button class="button" @onclick="Clear">
                    @Localization[nameof(Resource.Common_Clear)]
                </button>
            }
        </div>
    </div>
</div>

@code {
    public LimitedQueue<string> Errors { get; set; } = new(4);

    public void PushError(string errorMessage)
    {
        Errors.Enqueue(errorMessage);
        StateHasChanged();
    }

    public void Clear() => Errors.Clear();

    protected override void OnInitialized() => Modal.OnError += PushError;

    public void Dispose() => Modal.OnError -= PushError;
}
