::deep {
    --footer-height: 14rem;
    --footer-drowned: -1rem;
}

.footer-box-container {
    padding-bottom: 0;
}

.footer-box-body-content {
    padding-bottom: calc(var(--footer-height) + var(--bulma-block-spacing) + var(--footer-drowned));
}

.footer-box-footer-content {
    position: fixed;
    height: var(--footer-height);
    bottom: var(--footer-drowned);
    width: 100%;
    right: 50%;
    transform: translateX(50%);
    max-width: 1400px;
    z-index: 5;
}