.field {
    position: relative;
}

.input {
    height: 3.5rem;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 1rem;
}

.placeholder {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
}

    .placeholder.floating {
        top: 1rem;
        left: 1rem;
        font-size: 0.8rem;
    }