<div class="field">
    <label class="label">@Label</label>
    <div class="control">
        <div class="toggle @activeClass" @onclick="OnClick">
            <div class="toggle-icon">
                <i class="@iconClass"></i>
            </div>
        </div>
    </div>
</div>

@* TODO: 
    Переделать все размеры на вычисляемые через перменную размера кругляша
    Сделать две иконки и их появление через анимации фейдом
    Сделать сопроводительный текст
    Прятать лейбл и текст, если они не указаны, сделать так, чтобы они не занимали место, если их не видно
    Согласовать 
        font-size: calc(var(--bulma-control-height) * 0.5); /* Размер шрифта */ 
        height: calc(var(--bulma-control-height) - 20px); /* Размер иконки */ *@

@code {
    private string activeClass => Value ? "active" : string.Empty;
    private string iconClass => Value ? OnIcon : OffIcon;

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string OffIcon { get; set; } = "fas fa-xmark";

    [Parameter]
    public string OnIcon { get; set; } = "fas fa-check";

    private void OnClick(MouseEventArgs args)
    {
        Value = !Value;
        ValueChanged.InvokeAsync(Value);
    }
}