::deep {
    --circle-size-diff: 0.75rem;
    --circle-size: calc(var(--bulma-control-height) - var(--circle-size-diff));
    --circle-margin: calc(var(--circle-size-diff) / 2);
}

.toggle {
    position: relative;
    height: var(--bulma-control-height); /* Высота контейнера */
    width: calc(var(--bulma-control-height) * 2); /* Ширина контейнера */
    background: var(--bulma-border-weak);
    border-radius: calc(var(--bulma-control-height) / 2); /* Скругление углов */
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
}

    .toggle .toggle-icon {
        position: absolute;
        height: var(--circle-size); /* Размер иконки */
        width: var(--circle-size); /* Размер иконки */
        background-color: var(--bulma-label-color);
        color: var(--bulma-border-weak);
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        left: var(--circle-margin); /* Отступ слева */
        transition: all 0.4s ease;
    }

    .toggle.active {
        background: var(--bulma-success);
    }

        .toggle.active .toggle-icon {
            left: calc(100% - var(--circle-size) - var(--circle-margin)); /* Отступ справа */
            background-color: var(--bulma-label-color);
            color: var(--bulma-text-color);
        }
