@page "/characters"

<h3>Characters Page</h3>



@code {
    private List<Character> _characters = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
