@page "/characters/edit"

<h3>Edit Character Page</h3>

<EditForm OnSubmit="Save" Model="_character">
    <InputText DisplayName="Name" @bind-Value="_character.Name"></InputText>
    <InputTextArea DisplayName="Backstory" @bind-Value="_character.Backstory"></InputTextArea>
    <button type="submit">Save</button>
</EditForm>

<button @onclick="Back">Cancel</button>


@code {
    private Character _character { get; set; } = default!;

    protected override void OnInitialized()
    {
        _character = CharacterManager.EditingCharacter ?? new Character();
    }

    public async Task Save()
    {
        CharacterOperationResponse result = await CharacterManager.Save(_character);

        if (result.Success)
        {
            Navigation.NavigateTo("/characters");
        }
    }

    public void Back() => Navigation.NavigateTo("/characters");
}
