@using BRIX.Lexica
@using BRIX.Library.Abilities
@using BRIX.Library.Aspects

<p>To activate ability, you need to spend @Numbers.ENGDcln(Model.ActionPoints, "action point").</p>

@if (Model.NoCooldown)
{
    <p>The ability does not require recharging.</p>
}
else
{
    <p>The ability can be used @Numbers.ENGDcln(Model.UsesCountPerDay, "time") per day.</p>
}

@if(Model.Triggers.Count > 0)
{
    <p>Activation triggers:</p>
    <ul>
        @foreach ((ETriggerProbability Probability, string Comment) in Model.Triggers)
        {
            <li>@GetTriggerString(Probability, Comment);</li>
        }
    </ul>
}

@code {
    [Parameter]
    public AbilityActivation Model { get; set; } = new();

    public static MarkupString GetTriggerString(ETriggerProbability Probability, string Comment)
    {
        string resultString = Probability switch
        {
            ETriggerProbability.Low => Comment + (" (low probability)"),
            ETriggerProbability.Medium => Comment + (" (medium probability)"),
            ETriggerProbability.High => Comment + (" (high probability)"),
            _ => TemplateHelper.LexisTemplatingError
        };

        return (MarkupString)resultString;
    }
}