@using BRIX.Lexica
@using BRIX.Library.Aspects

@if (Model.Conditions.Count() > 0)
{
    <p>For the ability to be activated, the following conditions must be met:</p>
    <ul>
        @foreach ((EActivationCondition Type, string Comment) condition in Model.Conditions)
        {
            <li>@GetActivationConditionString(condition);</li>
        }
    </ul>
}
else
{
    <p>There are no special conditions need to activate this ability.</p>
}

@code {
    [Parameter]
    public ActivationConditionsAspect Model { get; set; } = new();

    public static MarkupString GetActivationConditionString((EActivationCondition Type, string Comment) input)
    {
        string resultString = input.Type switch
        {
            EActivationCondition.AbleToMove => "The character must be able to move",
            EActivationCondition.AbleToTalk => "The character must be able to talk",
            EActivationCondition.EasyActivationCondition => $"Easy condition:: {input.Comment}",
            EActivationCondition.MediumActivationCondition => $"Medium condition: {input.Comment}",
            EActivationCondition.HardActivationCondition => $"Hard condition: {input.Comment}",
            _ => TemplateHelper.LexisTemplatingError
        };

        return (MarkupString)resultString;
    }
}