@using BRIX.Lexica
@using BRIX.Library.Aspects
@using BRIX.Library.Enums

<p>The effect lasts @Numbers.ENGDcln(Model.Duration, "round").</p>

@if (Model.CanDisableStatus) 
{
    <p>The character can cancel the applied @(Model.IsConcorded ? "effects" : "effect")  without spending action points at any time.</p>
}
else
{
    <p>The character cannot cancel the @(Model.IsConcorded ? "effects" : "effect").</p>
}

@code {
    [Parameter]
    public DurationAspect Model { get; set; } = new();
}