@using BRIX.Lexica
@using BRIX.Library.Aspects
@using BRIX.Library.Effects

<p>Heals a character by @(Model.VampirismPercent)% of the damage he inflicted.</p>

@code {
    [Parameter]
    public VampirismAspect Model { get; set; } = new();
}