@inherits AbilityPageBase

@page "/{OwnerType}/{OwnerId:guid}/abilities/{AbilityNumber:int}/effects"

@foreach (EffectDictionaryVM effect in EffectsDictionary.Collection)
{
    <div class="box" @onclick="@(() => AddEffect(effect))">
        <p class="title">@Localization[effect.Type.GetLocalizedName()]</p>
    </div>
}

@code {
    private void AddEffect(EffectDictionaryVM effect)
    {
        EffectBase newEffect = effect.Type.Create();
        Ability.AddEffect(newEffect);
        int effectIndex = Ability.GetEffectIndex(newEffect);

        Navigation.NavigateToRelative($"{effect.Route}/{effectIndex}");
    }
}