<p class="title">@Localization[nameof(Resource.Abilities_AbilityCost)]</p>
<p>@cost EXP</p>
@* <p>Уже занято: EXP</p>
<p>Осталось: EXP</p> *@
<progress class="progress" value="@cost" max="@overall"/>

@code {
    [CascadingParameter]
    public AbilityLayout Layout { get; set; } = default!;

    public void Refresh() => StateHasChanged();

    /// <summary>
    /// Стоимость.
    /// </summary>
    private int? cost => Layout.Ability?.ExpCost();

    /// <summary>
    /// Уже занято.
    /// </summary>
    private int alreadySpent;

    /// <summary>
    /// Осталось.
    /// </summary>
    private int left;

    /// <summary>
    /// Всего опыта.
    /// </summary>
    private int? overall => CharacterManager.EditingCharacter?.Experience;
}
