@using BRIX.Web.Client.Components.Layout

@layout MainLayout
@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="section">
        <div class="box block">
            <p>Хлебные крошки редатирования способности. Они здесь нужны из за большой глубины вложенности в сценариях редактирования способности.</p>
        </div>

        @Body

        <div class="box block">
            <p>Монитор опыта и кнопка сохранить.</p>
            <button class="button" @onclick="SaveAsync">@Localization[nameof(Resource.Common_Save)]</button>
        </div>
    </div>
</CascadingValue>

@code {
    public Guid CharacterId { get; set; }

    public Guid? AbilityId { get; set; }

    public Ability Ability { get; set; } = new();

    private async Task SaveAsync(MouseEventArgs e)
    {
        await CharacterManager.SaveAsync();
        Navigation.NavigateTo($"/characters/{CharacterId}/abilities");
    }
}