@using BRIX.Web.Client.Models.Characters;

@inherits AbilityPageBase

@page "/characters/{CharacterId:guid}/abilities/{AbilityId:guid}/effects"

@foreach (EffectVM effect in EffectsDictionary.Collection)
{
    <div class="box" @onclick="@(() => AddEffect(effect))">
        <p class="title">@effect.Type.GetLocalizedName()</p>
    </div>
}

@code {
    private void AddEffect(EffectVM effect)
    {
        EffectBase newEffect = effect.Type.Create();
        Layout.Ability.AddEffect(newEffect);
        int effectIndex = Layout.Ability.GetEffectIndex(newEffect);

        Navigation.NavigateTo($"/characters/{CharacterId}/abilities/{AbilityId}/effects/dmg?n={effectIndex}");
    }
}