@inherits EffectPageBase<DamageEffect>

@page "/{OwnerType}/{OwnerId:guid}/abilities/{AbilityNumber:int}/effects/dmg/{EffectOrderNumber:int}"

@if (Effect is null)
{
    return;
}

<div class="box">
    <p class="title">@Localization[nameof(Resource.Effect_DamageEffect)]</p>
    <p class="block">@Localization[nameof(Resource.Effect_DamageEffect_Hint)]</p>
    <DiceField Placeholder="@Localization[nameof(Resource.Effect_DamageEffect)]"
               @bind-Dice="Effect.Impact" @bind-Dice:after="Layout.Refresh"
               DefaultDiceValue="@new((1, 4))"/>
</div>

<AspectsPanel Aspects="Effect.Aspects" />