@using BRIX.Lexica
@using BRIX.Library.Abilities
@using BRIX.Library.Aspects

<p>Для активации необходимо потратить @Numbers.RUSDcln(Model.ActionPoints, "очко", "очка", "очков") действия.</p>

@if (Model.NoCooldown)
{
    <p>Этой способности не требуется перезарядка.</p>
}
else
{
    <p>Способность может быть использована @Numbers.RUSDcln(Model.UsesCountPerDay, "раз", "раза", "раз") в день.</p>
}

@if (Model.Triggers.Count > 0)
{
    <p>Триггеры активации:</p>
    <ul>
        @foreach ((ETriggerProbability Probability, string Comment) in Model.Triggers)
        {
            <li>@GetTriggerString(Probability, Comment);</li>
        }
    </ul>
}

@code {
    [Parameter]
    public AbilityActivation Model { get; set; } = new();

    public static MarkupString GetTriggerString(ETriggerProbability Probability, string Comment)
    {
        string resultString = Probability switch
        {
            ETriggerProbability.Low => Comment + (" (низкая вероятность)"),
            ETriggerProbability.Medium => Comment + (" (средняя вероятность)"),
            ETriggerProbability.High => Comment + (" (высокая вероятность)"),
            _ => TemplateHelper.LexisTemplatingError
        };

        return (MarkupString)resultString;
    }
}