@using BRIX.Lexica
@using BRIX.Library.Ability
@using BRIX.Library.Aspects

<p>Для активации необходимо потратить @Numbers.RUSDcln(Model.ActionPoints, "очко", "очка", "очков") действия.</p>

@if (Model.Cooldown == ECooldownOption.CannotReset)
{
    <p>Персонаж может использовать эту способность только один раз.</p>
}
else if (Model.NoCooldown)
{
    <p>Этой способности не требуется перезарядка.</p>
}
else
{
    <p>Способность может быть использована @Numbers.RUSDcln(Model.UsesCount, "раз", "раза", "раз"). После этого ей потребуется перезярдка, которая продлится @GetCooldownOption(Model.Cooldown).</p>
}

@code {
    [Parameter]
    public AbilityActivation Model { get; set; } = new();

    public static MarkupString GetCooldownOption(ECooldownOption input)
    {
        string resultString = input switch
        {
            ECooldownOption.Round => "раунд",
            ECooldownOption.Minute => "минуту",
            ECooldownOption.Hour => "час",
            ECooldownOption.Day => "день",
            ECooldownOption.Week => "неделю",
            ECooldownOption.Month => "месяц",
            ECooldownOption.Year => "год",
            ECooldownOption.TenYears => "10 лет",
            ECooldownOption.HundredYears => "100 лет",
            _ => TemplateHelper.LexisTemplatingError
        };

        return (MarkupString)resultString;
    }
}