@using BRIX.Lexica
@using BRIX.Library.Aspects

@if(Model.Conditions.Count() > 0)
{
    <p>Чтобы способность могла быть активирована, должны соблюдаться следующие условия:</p>
    <ul>
    @foreach ((EActivationCondition Type, string Comment) condition in Model.Conditions)
    {
        <li>@GetActivationConditionString(condition);</li>
    }
    </ul>
}
else
{
    <p>Для активации этой способности не требуется особых условий.</p>
}

@code {
    [Parameter]
    public ActivationConditionsAspect Model { get; set; } = new();

    public static MarkupString GetActivationConditionString((EActivationCondition Type, string Comment) input)
    {
        string resultString = input.Type switch
        {
            EActivationCondition.AbleToMove => "Персонаж должен мочь двигаться",
            EActivationCondition.AbleToTalk => "Персонаж должен мочь говорить",
            EActivationCondition.AbleToMoveOneArm => "Персонаж должен мочь двигать рукой",
            EActivationCondition.AbleToMoveBothArms => "Персонаж должен мочь двигать обеими руками",
            EActivationCondition.EasyActivationCondition => $"Условие малой сложности: {input.Comment}",
            EActivationCondition.MediumActivationCondition => $"Условие средней сложности: {input.Comment}",
            EActivationCondition.HardActivationCondition => $"Условие высокой сложности: {input.Comment}",
            _ => TemplateHelper.LexisTemplatingError
        };

        return (MarkupString)resultString;
    }
}