@using BRIX.Lexica
@using BRIX.Library.Aspects
@using BRIX.Library.Enums

<p>Эффект длится @Numbers.RUSDcln(Model.Duration, "раунд", "раунда", "раундов").</p>

@if (Model.CanDisableStatus) 
{
    <p>Персонаж может отменить @(Model.IsConcorded ? "наложенные эффекты" : "наложенный эффект")  не тратя очки действий в любой момент.</p>
}
else
{
    <p>Персонаж не может отменить действие @(Model.IsConcorded ? "эффектов" : "эффекта") .</p>
}

@code {
    [Parameter]
    public DurationAspect Model { get; set; } = new();
}