@using BRIX.Library.Aspects.Base
@using BRIX.Web.Client.Models.Characters

<h3>AspectsPanel</h3>

@code {
    private List<AspectVM> aspects = [];

    [Parameter]
    public List<AspectBase> Aspects { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (Aspects is not null && Aspects.Any())
        {
            IEnumerable<Task<AspectVM>> aspectsTasks = Aspects.Select(async x => await GetVMFromAspectBaseAsync(x));
            aspects = (await Task.WhenAll(aspectsTasks)).ToList();
        }
    }

    private async Task<AspectVM> GetVMFromAspectBaseAsync(AspectBase aspect)
    {
        return new AspectVM
        {
            LexisDescription = await aspect.ToLexisAsync(),
        };
    }
}
