@using BRIX.Lexica

<div class="content block">
    @markup
</div>

@code {
    [Parameter]
    public object? Model { get; set; }

    MarkupString markup;

    protected override async Task OnParametersSetAsync()
    {
        if (Model is not null)
        {
            markup = (MarkupString)(await Model.ToLexisAsync());
        }
    }
}
