<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bulma/bulma.css" />
    <link rel="stylesheet" href="bulma/bulma.min.css" />
    <link rel="stylesheet" href="bulma/bulma.css.map" />
    <link rel="stylesheet" href="bulma/bulma.override.css" />
    <link rel="stylesheet" href="awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="awesome/css/regular.css" />
    <link rel="stylesheet" href="awesome/css/brands.css" />
    <link rel="stylesheet" href="awesome/css/solid.css" />
    <link rel="icon" href="favicon.png" />
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: true)" />
    <style>
        .loading-progress {
            position: relative;
            display: block;
            width: 8rem;
            height: 8rem;
            margin: 20vh auto 1rem auto;
        }

            .loading-progress circle {
                fill: none;
                stroke: #e0e0e0;
                stroke-width: 0.6rem;
                transform-origin: 50% 50%;
                transform: rotate(-90deg);
            }

                .loading-progress circle:last-child {
                    stroke: #1b6ec2;
                    stroke-dasharray: calc(3.142 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
                    transition: stroke-dasharray 0.05s ease-in-out;
                }

        .loading-progress-text {
            position: relative;
            text-align: center;
            font-weight: bold;
            top: -90px;
        }

            .loading-progress-text:after {
                content: var(--blazor-load-percentage-text, "Loading");
            }

        code {
            color: #c02d76;
        }
    </style>
</head>

<body>
    <div id="app">
        <svg class="loading-progress">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
        <div class="loading-progress-text"></div>
    </div>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
    <script >
        window.blazorCulture = {
            get: () => localStorage['BlazorCulture'],
            set: (value) => localStorage['BlazorCulture'] = value
        };
    </script>
</body>

</html>
