<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bulma/bulma.css" />
    <link rel="stylesheet" href="bulma/bulma.min.css" />
    <link rel="stylesheet" href="bulma/bulma.css.map" />
    <link rel="stylesheet" href="bulma/bulma.override.css" />
    <link rel="stylesheet" href="awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="awesome/css/regular.css" />
    <link rel="stylesheet" href="awesome/css/brands.css" />
    <link rel="stylesheet" href="awesome/css/solid.css" />
    <link rel="icon" href="favicon.png" />

    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: true)" />

    <style>
        .splash-percents-text:after {
            content: var(--blazor-load-percentage-text, 0%);
        }
    </style>
</head>

<body>
    <div id="splash" class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">BRIX</p>
                <progress class="progress is-primary is-small" max="100" />
                <p class="splash-percents-text subtitle"></p>
            </div>
        </div>
    </div>

    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />

    <script src="_framework/blazor.web.js"></script>
    <script>
        window.hideSplash = () => {
            var btn = document.getElementById('splash');
            btn.style.display = 'none';
        };
    </script>
    <script >
        window.blazorCulture = {
            get: () => localStorage['BlazorCulture'],
            set: (value) => localStorage['BlazorCulture'] = value
        };
    </script>
</body>

</html>