<AuthorizeView>
    <Authorized>
        <a href="sign-out" class="button is-light">Log out</a>
    </Authorized>
    <NotAuthorized>
        <div class="buttons">
            <a href="sign-up" class="button">Sign-up</a>
            <a href="sign-in" class="button">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>