@page "/forgot-password"

<h3>Forgot Password Page</h3>
<p>Чтобы восстановить пароль, укажите эмейл, на который будет выслано письмо со ссылкой для установки нового пароля.</p>
<InputText DisplayName="Email" @bind-Value="_email"></InputText>
<button @onclick="Send">Отправить</button>

@code {
    private string _email = string.Empty;

    private async Task Send()
    {
        await AuthService.ForgotPassword(_email);
    }
}
