@page "/reset-password"

<h3>Reset Password Page</h3>
<p>Чтобы восстановить пароль, укажите эмейл, на который будет выслано письмо со ссылкой для установки нового пароля.</p>
<InputText DisplayName="Password" @bind-Value="_email"></InputText>
<InputText DisplayName="Repeat password" @bind-Value="_email"></InputText>
<button @onclick="Send">Сохранить</button>

@code {
    

    private async Task Send()
    {
        await AuthService.ForgotPassword(_email);
    }
}
