@page "/sign-in"

<h1>Sign-in</h1>

@if (ShowErrors)
{
    <div role="alert">
        <p>Errors:</p>
        <p>@Error</p>
    </div>
}

<div>
    @if(Confirmed == true)
    {
        <h5>Account confirmed successfully</h5>
    }
    else if(Confirmed == false)
    {
        <h5>Something goes wrong when trying to confirm account</h5>
        <button>Resend confirmation email</button>
    }

    <h5>Please enter your details</h5>
    <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label for="email">Email address</label>
            <InputText Id="email" @bind-Value="loginModel.Email" />
            <ValidationMessage For="@(() => loginModel.Email)" />
        </div>
        <div>
            <label for="password">Password</label>
            <InputText Id="password" type="password" @bind-Value="loginModel.Password" />
            <ValidationMessage For="@(() => loginModel.Password)"/>
        </div>
        <button type="submit" >Submit</button>
    </EditForm>
</div>

@code {

    [SupplyParameterFromQuery]
    private bool? Confirmed { get; set; }

    private SignInRequest loginModel = new SignInRequest();
    private bool ShowErrors;
    private string Error = "";

    private async Task HandleLogin()
    {
        ShowErrors = false;

        SignInResponse result = await AuthService.SignIn(loginModel);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Error = result.Error;
            ShowErrors = true;
        }
    }

}