@inherits AbilityPageBase

@page "/characters/{CharacterId:guid}/abilities/{AbilityId:guid}/effects/dmg"

<div class="box">
    <p class="title">@Localization[nameof(Resource.Effect_DamageEffect)]</p>
    <p class="block">@Localization[nameof(Resource.Effect_DamageHint)]</p>
    <DiceField 
        Placeholder="@Localization[nameof(Resource.Effect_DamageEffect)]" 
        @bind-Dice="Effect.Impact" @bind-Dice:after="Layout.Refresh"/>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "n")]
    public int? EffectOrderNumber { get; set; }

    public DamageEffect Effect { get; set; } = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (EffectOrderNumber is not null)
        {
            Effect = Layout.Ability.GetEffectByIndex<DamageEffect>(EffectOrderNumber.Value)
                ?? throw new Exception("Effect not found");
        }

        if(Effect is null)
        {
            Navigation.NavigateTo("/404");
        }
    }
}