.card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option-container {
    height: 3rem;
    transition: background-color 0.4s ease;
    background-color: var(--bulma-scheme-main);
    border-color: var(--bulma-border);
    border-radius: var(--bulma-radius-small);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}   

    .option-container:hover {
        background-color: var(--bulma-text-25);
    }

    .option-container p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: var(--bulma-card-content-padding);
        user-select: none;
        transition: color 0.4s ease
    }

.option-container.active-option {
    background-color: var(--bulma-link);
}

    .option-container.active-option p {
        color: var(--bulma-text-strong);
    }

.options-message {
    margin: var(--bulma-card-content-padding);
}