@using BRIX.Web.Client.Components.Account
@using BRIX.Web.Client.Components.Pages
@using BRIX.Web.Client.Components.Shared

@inherits LayoutComponentBase

<div>
    <NavMenu />
    <main class="container">
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="exception">
                <ErrorPage Exception="exception"/>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>