@using BRIX.Web.Client.Components.Account
@using BRIX.Web.Client.Components.Shared
@using Microsoft.AspNetCore.Components.Authorization

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img src="assets/brix_logo.png"/>
        </a>
        <a role="button" class="navbar-burger" @onclick="ToggleMobileMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu @_menuIsActiveClass">
        <div class="navbar-start">
            <NavLink class="navbar-item" ActiveClass="is-active" href="" Match="NavLinkMatch.All">Home</NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="navbar-item" ActiveClass="is-active" href="/character" Match="NavLinkMatch.Prefix">
                        @Localization[nameof(Resource.Common_Characters)]
                    </NavLink>
                    <NavLink class="navbar-item" ActiveClass="is-active" href="/npc" Match="NavLinkMatch.Prefix">
                        @Localization[nameof(Resource.Common_NPCs)]
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <CultureSelector />
            </div>
            <div class="navbar-item">
                <AuthDisplay />
            </div>
        </div>
    </div>
</nav>

@code {
    private string _menuIsActiveClass = string.Empty;

    private void ToggleMobileMenu()
    {
        if (string.IsNullOrEmpty(_menuIsActiveClass))
        {
            _menuIsActiveClass = "is-active";
        }
        else
        {
            _menuIsActiveClass = string.Empty;
        }
    }
}